<p>
  The workshop consists of four afternoon sessions in June and July. Each lesson
  uses a different tool to organize, clean, analyze, and/or plot data. Participants
  are welcome to attend the full workshop or just the lessons that appeal to them.
</p>
  
<p><strong>We will plan to take 10-minute breaks around 2 PM and 3 PM each day.</strong></p>

<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Jun 24</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00 PM</td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:15 PM</td>        <!-- time    -->
        <td>Data <a href="https://datacarpentry.github.io/spreadsheet-ecology-lesson/">Organization</a> and <a href="https://datacarpentry.github.io/OpenRefine-ecology-lesson/">Cleaning</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>4:00 PM</td>        <!-- time    -->
        <td>End of day</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Jun 26</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td>1:00 PM</td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:15 PM</td>        <!-- time    -->
        <td><a href="https://miketrizna.github.io/github-without-command-line/">Collaborating and Sharing Using GitHub Without Command Line</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:00 PM</td>        <!-- time    -->
        <td>End of day</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Jul 8</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 1   -->
        <td>1:00 PM</td>        <!-- time    -->
        <td>Introduction</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:15 PM</td>        <!-- time    -->
        <td><a href="https://smithsonian.github.io/python-ecology-lesson-alt/">Coding with Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:00 PM</td>        <!-- time    -->
        <td>End of day</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Jul 9</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 PM</td>        <!-- time    -->
        <td>Review of previous day</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:30 PM</td>        <!-- time    -->
        <td><a href="https://adamancer.github.io/ai-assisted-coding-lesson/">AI-Assisted Coding</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>4:00 PM</td>        <!-- time    -->
        <td>End of day</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
